
<div >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("User Management Home", "Index", "FitbitUsers", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Upload Users", "UploadUsers", "FitbitUsers")</li>
                <li>@Html.ActionLink("Edit User Groups", "DeleteFromGroup", "FitbitUsers")</li>
            </ul>
        </div>
    </div>
</div>